// cuerpo de encuentranos

main{
    // .col-sm-2 {
    //     // iframe {
    //     //     width: auto;
    //     //     height: auto;
    //     // }
    // }
  

    section{
        p.textoEncuentran{
                display: flex;
                padding-left: $separacion;
                padding-right: $separacion;
            }
        }
    }