// cuerpo de encuentranos

main{
    section{
        p.textoEncuentran{
                display: flex;
                padding-left: $separacion;
                padding-right: $separacion;
            }
        }
    }