// colores y variables

$tipografia-ppal: "Poppins", sans-serif;
$black: black;

// del header
$fondoCinta: rgb(191, 191, 191);

//del footer
// $fondoFooter: brown;
$fondoFooter: rgb(116, 116, 116);

// bordes de cuadros y textos
$separacion: 15px;